.parser{
	width: 40%;
	margin: 1vw auto;
}
.parse-in{
	width: 100%;
	outline: none;
	border: 1px solid black;
	height: 6vh;
	font-size: 2vh;
}
.ans-container{

}
.parse-answer{
	width: 100%;
	background: #aaa;
	height: 4vh;
	font-size: 2vh;
	display: flex;
}
.po{
	margin: .5vw .5vh;
	flex: 90%;
}
.variable{
	background: #888;
	display: inline-block;
	height: 100%;
	flex: 10%;
	float: right;
	text-align: center;
	color: white;
	line-height: 4vh;
}
.box{
	width: 100%;
	display: inline-block;
}